<div style="max-width:620px; margin:auto; font-size:0; display: flex; justify-content: space-around; flex-wrap: wrap; background: #8d6831; opacity: 0.8; border-radius: 10pt;" class="photos" id="all-logos">
  <a href="https://edbkcg.kcg.gov.tw/en/Default.aspx">
    <img title="EDB" alt="EDB" height=100 src="/images/01EDB.png">
  </a>
  <a href="https://www.elsevier.com/">
    <img title="ELSEVIER" alt="ELSEVIER" height=100 src="/images/02ELSEVIER.png">
  </a>
  <a href="https://ilasic.org/">
    <img title="ILAS" alt="ILAS" height=100 src="/images/03ILAS.png">
  </a>
  <a href="https://www.nstc.gov.tw/">
    <img title="NSTC" alt="NSTC" height=100 src="/images/04NSTC.png">
  </a>
  <a href="https://www.nsysu.edu.tw/">
    <img title="NSYSU" alt="NSYSU" height=100 src="/images/05NSYSU.png">
  </a>
  <a href="https://www.siam.org/get-involved/connect-with-a-community/activity-groups/linear-algebra/">
    <img title="SIAM" alt="SIAM" height=100 src="/images/06SIAM.png">
  </a>
  <a href="https://taylorandfrancis.com/about/">
    <img title="T&F" alt="T&F" height=100 src="/images/07T&F.png">
  </a>
  <a href="https://www.tms.org.tw/en/">
    <img title="TMS" alt="TMS" height=100 src="/images/08TMS.png">
  </a>
</div>

<!-- https://css-tricks.com/forums/topic/solved-extra-space-below-div/ -->
