<div style="max-width:620px; margin:auto; font-size:0;" id="campus-photos">
    <img title="Campus beach" alt="Campus beach" width=300 src="https://lh3.googleusercontent.com/pw/AP1GczMBIHCrlj9qfUiAHGgzGjK3cpWlNAiYZGVRPzsFaY5vDB6bCGelNnfNG1lcVl6C96wEVC94DoVu5sgERsiRo-6l70j3QiKH3AM_SYAofXQoQFxyeGusYTN4-1anWcd-eVowhN9zF15_Mix_Qnydm60aZQ=w1000-h667-s-no-gm?authuser=0">
    <img title="Monkey" alt="Monkey" width=300 src="https://lh3.googleusercontent.com/pw/AP1GczNJ4ox_JO1xa4wzYlJdOSEjj42HdTq2RzXj6V2m8ZYlYMvgS18ZcJXYWhLxepy3nxYpCJGhLHlgYA8vJRLIqaL4JMxHyb1gJxukyZtDUSwP7ONjp1jj6q5PPqR9O8UBk1IWy6a1kOvaW25cAzBDinWGfg=w1000-h668-s-no-gm?authuser=0">
  </div>
  
  <!-- https://css-tricks.com/forums/topic/solved-extra-space-below-div/ -->
  