<div style="max-width:620px; margin:auto; font-size:0;" class="photos" id="kaohsiung-harbor-photos">
  <div style="display: inline-block; width: 300px; height: 168.45px; overflow: hidden; margin: 5px;">
    <img title="Great Harbor Bridge" alt="Great Harbor Bridge" style="width: 300px; margin: 0px" src="https://lh3.googleusercontent.com/pw/AP1GczMOdP_fGt_Gfzfi5L5NUnrhwkpZH7GiOHViX6BsGae9QT4L7C1D2uGIIjcqZyBY9ucwKO-h1bX6nwKThwdYRJr9Cxg7s2eS9nNA8l3xeanyWnbEYVBtRs79uVHRdx-YWwp-54KIQiItf0pPx7jXWUDYTg=w1024-h683-s-no-gm?authuser=0">
  </div>
  <img title="Kaohsiung Harbor" alt="Kaohsiung Harbor" width=300 src="https://lh3.googleusercontent.com/pw/AP1GczNz3h1wM1c_TQHecvKf8LFlvEF_x2bM6_POJEHBx6yIWsMrQz0KURfuGjVZLYMNoSVDJZoHhPEKDfutIi13jkcg8xAhqtIGrFKv_RL6qlHlmaFbEdNj5mqf1Aa35g8dSa84NnuZsnOeZgXsqAiq3V4a9Q=w1024-h575-s-no-gm?authuser=0">
</div>

<!-- https://css-tricks.com/forums/topic/solved-extra-space-below-div/ -->
