<div style="max-width:620px; margin:auto; font-size:0;" class="photos" id="lotus-pond-photos">
  <img title="Lotus Pond" alt="Lotus Pond" width=300 src="https://lh3.googleusercontent.com/pw/AP1GczOqOAQv_grMiXRR-QinamrGtSMEbMDBfCxNSi_6VV_kkOZFd4yJjWoiJXiOXZGTTj1GusDmuIN0gJZLqoxO87d9khsCjvI_uME2H-KiiZ79bg_eD3wTpj_9SHXVziqLnXESYPjHAU1zxuJMgecEklSQMg=w1024-h683-s-no-gm?authuser=0">
  <img title="Dragon and Tiger Pagodas" alt="Dragon and Tiger Pagodas" width=300 src="https://lh3.googleusercontent.com/pw/AP1GczMSyCbYUoaZVOU0ifUUz3y9ngvcCDoHkKM8rpOR9vqeG8kVvzKufLTWOpyUQrRUqFaTKvb32Nnx8EzDuI2ZkkYpxhEUGqKytRBAfpSRYwJLKoY-5pNwJYMzYg8XM6m_OYaO23psFYcHvAZg0RpJ7AGeSQ=w1024-h683-s-no-gm?authuser=0">
</div>

<!-- https://css-tricks.com/forums/topic/solved-extra-space-below-div/ -->
