{{ $data := dict }}
{{ $path := "data/mini-all.json"}}

{{ with resources.Get $path }}
    {{ with . | transform.Unmarshal }}
        {{ $data = . }}
    {{ end }}
{{ else }}
    <p>Data not found.</p>
{{ end }}

<ol>
    {{ range $data }}
        <li>
            <span style="color: #009944;">{{ .TITLE }}</span><br />
            {{ .ORGANIZERS }}
            <details>
                <summary style="opacity: 0.3;">Confirmed speakers</summary>
                <ul>
                    {{ range .SPEAKERS }}
                        <li>{{ .NAME }}, 
                            <span style="text-shadow: 2px 2px 10px lightseagreen;">{{ .TITLE }}</span>
                        </li>
                    {{ end }}
                </ul>
            </details>
        </li>
    {{ end }}
</ol>
