<div style="max-width:620px; margin:auto; font-size:0; display: flex; justify-content: space-around; flex-wrap: wrap;" class="photos" id="org-logos">
  <a href="https://ilasic.org/">
    <img title="ILAS" alt="ILAS" height=100 src="/images/ilas-logo.png">
  </a>
  <a href="https://www.nsysu.edu.tw/">
    <img title="NSYSU" alt="TMS" height=100 src="/images/nsysu-logo.png">  
  </a>
  <a href="https://www.tms.org.tw/en/">
    <img title="TMS" alt="TMS" height=100 src="/images/tms-logo.png">  
  </a>
</div>

<!-- https://css-tricks.com/forums/topic/solved-extra-space-below-div/ -->