<div style="max-width:620px; margin:auto; font-size:0;" id="taiwan-photos">
  <img title="Yushan" alt="Yushan" width=300 src="https://lh3.googleusercontent.com/pw/AJFCJaVsUo2uMHyblZ8rN_cOaIr5mUOKUOXB2h1FK-3anZxyVIkbGYFuZ6siiSsj0LyAuvaZ2IN003Lzc4F7yTH9qT4-mq8ZAzUWaftYR77yreNoyTHzZnqIIzkjJFY2sgWcI1GsF4a6FnryiaZh7OgSA_MuLg=w1000-h667-s-no?authuser=0">
  <img title="Alishan" alt="Alishan" width=300 src="https://lh3.googleusercontent.com/pw/AJFCJaVme2lj9bsp-HBYfTqE00DQVFQbHspTy5Av6LzM7JR9TcjoYWGUW5oxtWv8c72U9uCUt8BMciiD6R6YDUEOJF0_BdyxoqpP0qLw6udIjE1zbOr0PJDxo4x2_FLIXEc5ewx-w4vHppIL3LBFQt93z-kbYg=w1000-h667-s-no?authuser=0">
  <img title="Matzu" alt="Matzu" width=300 src="https://lh3.googleusercontent.com/pw/AJFCJaW1fmvrynZ8QLXiKH0NMq4s1eiIdpsqflarCUqOB1tAlZ2l_Q3wFWTc0ycRyS0XsTg7Ce6rvhZSqLRfLXqOsP96rWHJufpdW-7hwOTgwKoV2MdylrQy2GHccmAKj2bB1VJCX6aonYMoD8SqsdbX2DaoFA=w1000-h667-s-no?authuser=0">
  <img title="Kenting" alt="Kenting" width=300 src="https://lh3.googleusercontent.com/pw/AJFCJaWJht75Z8SeFE09AOEVF86mIC3_M-ZFO_DHQ_qe6UBac8qqkPbFUGg52LMADnf0wE-dxpnF2GFmOSfOtuF4O-MojbXJA5rRm7QwqBCiSeza5NCAvPsgvIWiXJ_8Hs93bKcIm6CgKwAEizU4tWPOiT0ahQ=w1000-h667-s-no?authuser=0">
</div>

<!-- https://css-tricks.com/forums/topic/solved-extra-space-below-div/ -->
